---
layout: default
permalink: /archives/
---

<ul class="archives">
  {% for post in site.posts %}
    {% unless post.next %}
    <time class="post__date" datetime="{{ post.date }}" pubdate="">{{ post.date | date: "%B %Y" }}</time>
    {% else %}
      {% capture year %}{{ post.date | date: '%B %Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%B %Y' }}{% endcapture %}
      {% if year != nyear %}
        <time class="post__date" datetime="{{ post.date }}" pubdate="">{{ post.date | date: "%B %Y" }}</time>
      {% endif %}
    {% endunless %}

    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>


